<%-include ("header")-%>

<body class="sub_page">
    <div class="hero_area">
        <%-include ("nav-bar")-%>
    </div>
    <!-- food section -->
    <section class="food_section layout_padding">
        <div class="container">
            <section class="cart container py-5">
                <div class="container mt-2 text-center">
                    <h1>Thank You</h1>
                    <h2>Your order id is <%= order_id%></h2>
                    <h3>We will deliver your products within an hour</h3>
                </div>
            </section>
        </div>
    </section>
    <!-- end food section -->
<%-include("footer")-%>